<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ header }}</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <h2>{{ subheader }}</h2>

    <table border="1">
        {% for row in seats_array %}
            <tr>
                {% for seat in row %}
                    <td>{{ seat }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <p>Total Sales: {{ total_sales }}</p>

    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>
