{% extends 'base.html' %}

{% block title %}Reservations{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ header }}</title>
</head>
<body>

    <p>Congratulations {{ first_name }} {{ last_name }}! Row: {{ row }}, Seat {{ column }} is now reserved for you. Enjoy your trip!</p>
    <p>Your e-ticket number is: {{ ticket_number }}</p>

    <h1>{{ header }}</h1>
    <h2>{{ subheader }}</h2>
    <h3>{{ seat_legend }}</h3>

    <table border="1">
        {% for row in seats_array %}
            <tr>
                {% for seat in row %}
                    <td>{{ seat }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error-message">
                {{ messages[0] }}
            </div>
            <br>
        {% endif %}
    {% endwith %}

    

    <!-- Reservation Form -->
    <form action="/reservations" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>

        <label for="row">Row:</label>
        <select id="row" name="row">
            {% for row_number in range(num_rows) %}
                <option value="{{ row_number }}">{{ row_number + 1 }}</option>
            {% endfor %}
        </select><br>

        <label for="seat">Seat:</label>
        <select id="seat" name="seat">
            {% for seat_number in range(num_seats) %}
                <option value="{{ seat_number }}">{{ seat_number + 1 }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Reserve Seat">
    </form>
</body>
</html>

{% endblock %}
